<div>
    <h1 class="sectionTitle">Hack-a-thon</h1>
    <div class="hatSection">
        <h2>What is a hack-a-thon?</h2>
        <p class="alignLeft">
            A software design challenge, where ther are several given prompts for competitors to choose from. Each propmpt provides a description of a piece of software for which teams will work on developing a prototype for 24 hours. After the 24 hours are up, each team privately presents their prototype to a panel of judges, attempting to sell the software to the judges as though the judges were prospective customers. The judges rank each team based on various aspects of the softwares presented,
            and then declare a winner.
        </p>
    </div>
    
    <div class="hatSection">
        <h2>Why should I participate?</h2>
        <p>
            <ul>
                <li>
                    Loads of fun!
                </li>
                <li>
                    Great experience.
                </li>
                <li>
                    Looks great on resumes.
                </li>
                <li>
                    Win prizes!
                </li>
                <li>
                    Meet other developers in college.
                </li>
                <li>
                    Gain simulated high-pressure developement expirience. 
                </li>
                <li>
                    First 40 people to register get free t-shirts!
                </li>
            </ul>
        </p>
    </div>

    <div class="hatSection">
        <h2>Prizes?</h2>
        <p >
            <ul>
                <li>
                    1st Place Prize - $100 value
                </li>
                <li>
                    2nd Place Prize - $50 value
                </li>
                <li>
                    3rd Place Prize - $35 value
                </li>
            </ul>
            Note: Prizes described here are awarded to each person on a team, so $100 per person on the first place team, and so on.
        </p>
    </div>

    <div class="hatSection">
        <h2>Rules</h2>
        <p class="alignLeft">
            To Be Announced!
        </p>
    </div>

    <hr>
    <div class="alignCenter">
        <div data-bind="if: registrationOpen">
            <h1><a href="#create-or-join-group">Register Now</a></h1>
        </div>
        <div data-bind="ifnot: registrationOpen">
            <h1>Registration Closed!</h1>
            <h2>We hope to see you again next year</h2>
        </div>
    </div>
    <hr>


</div>
