<div>
    <h1>Help</h1>
    <hr>
    
    <h2>Issues and Bugs:</h2>
    <p>
        For any bugs or issues, reguarding the user interface or song playback please create an issue on the <a href="https://github.com/jghibiki/mopey/issues/" target="_blank">project Github page</a>. Please ensure that there are not already existing issues for problems you find. Also keep in mind that the project is still a work in progress.
    </p>

    <br>

    <h2>Terms and Conditions:</h2>
    <p>
    You can view the <a href="terms.html" target="_blank">terms and conditions here</a>. 
    </p>
</div>
