<div id="joinGroup">
    <h1 class="sectionTitle">
        Join Group
    </h1>
    <br>
    <table class="centerTable">
        <thead>
            <tr>
                <th>
                    Group
                </th>
                <th>
                    Members
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: { data: groups, as:'group'}">
            <tr>
                <td data-bind="text: group.name">
                </td>
                <td>
                    <ul class="groupMemberList" data-bind="foreach: group.members">
                        <li data-bind="text: $data">
                        </li>
                    </ul>
                </td>
                <td>
                    <button>Join Group</button>
                </td>
            </tr>
        </tbody>
    </table>
    <span data-bind="if: hasPreviousPage">
        <button data-bind="click : updateCurrentPage.bind('previousPage')">Previous</button>
    </span>
    Page:
    <span data-bind="text: currentPage">
        1
    </span>
    <span data-bind="if: hasNextPage">
        <button data-bind="click : updateCurrentPage.bind('nextPage')">Next</button>
    </span>
</div>
