<div id="navigation" class="pure-u-1-8">
    <div class="alignText">
        <span class="pure-menu-heading">
            <h1>
                Mopey
            </h1>
        </span>
        <form id="search" data-bind="enter: triggerSearch">
            <input id="navigation-search-box" type="text" placeholder="Search" data-bind="value: searchQuery">
        </form>
        <ul class="pure-menu-list" data-bind="foreach: navOptions">
            <li class="pure-menu-item">
                <a href="" class="pure-menu-link" data-bind=" text: friendlyName, attr: { href: hashRoute()}, css: {'pure-menu-selected': $parent.isCurrentRoute}"></a>
            </li>
        </ul>
    </div>
</div>
