<div id="navigation" class="pure-u-1-8">
    <div class="alignText">
        <span class="pure-menu-heading">
            <h1 class="title">
                Mopey
            </h1>
        </span>

        <!-- ko if: loggedIn -->
        <form id="search" data-bind="enter: triggerSearch">
            <input id="navigation-search-box" type="text" placeholder="Search" data-bind="value: searchQuery">
        </form>
        <!-- /ko -->
        <!-- ko ifnot:loggedIn -->
        <div id="navigation-search-box">
            <br>
        </div>
        <!-- /ko -->

        <ul class="pure-menu-list">
            <!-- ko foreach: navOptions -->
            <li class="pure-menu-item">
                <a href="" class="pure-menu-link" data-bind=" text: friendlyName, attr: { href: hashRoute()}, css: {'pure-menu-selected': $parent.isCurrentRoute}"></a>
            </li>
            <!-- /ko -->
            <!-- ko if: loggedIn -->
            <li class="pure-menu-item">
                <a href="#/logout" class="pure-menu-link">Log Out</a>
            </li>
            <!-- /ko -->
            <!-- ko ifnot: loggedIn -->
            <li class="pure-menu-item">
                <a href="#/login" class="pure-menu-link">Log In</a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>
