<div class="pure-g">

    <div class="pure-u-1-4"></div>

    <div class="pure-u-1-2">
        <!-- ko if: loading -->
        <h1>Loading...</h1>
        <!-- /ko -->

        <!-- ko ifnot: loading -->
            <!-- ko if: errorMessage -->
            <div data-bind="text: errorMessage"></div>
            <!-- /ko -->

            <!-- ko ifnot: currentRequest -->
            <h1>
                Nothing is playing...
            </h1>
            <!-- /ko -->

            <!-- ko if: currentRequest -->
            <img data-bind="attr: { src: currentRequest().thumbnail }"/>

            <h1 data-bind="text: currentRequest().title"></h1>
            <h2 data-bind="text: currentRequest().uploader"></h2>

            <p data-bind="text: currentRequest().description"></p>
            <!-- /ko -->
        <!-- /ko -->
    </div>

    <div class="pure-u-1-4"></div>

</div>
