<div>
    <h1>Search</h1>
    <hr>

    <div data-bind="text: errorMessage">
    </div>
    
    <div data-bind="if : searching">
        Searching...
    </div>

    <!-- ko ifnot: searching -->
    <table class="pure-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Uploader</th>
                <th>Description</th>
                <th></th>
            <tr>
        </thead>
        <tbody  data-bind="foreach: searchResults">
            <!-- ko if: $index() % 2 === 0 -->
                <tr>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: uploader"></td>
                    <td data-bind="text: description"></td>
                    <td><button data-bind="click: $parent.requestSong">Request</button></td>
                </tr>
            <!-- /ko -->

            <!-- ko ifnot: $index() % 2 === 0 -->
                <tr class="pure-table-odd">
                    <td data-bind="text: title"></td>
                    <td data-bind="text: uploader"></td>
                    <td data-bind="text: description"></td>
                    <td><button data-bind="click: $parent.requestSong">Request</button></td>
                </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <!-- /ko -->
</div>
